@CHARSET "ISO-8859-1";

body.home {
	background-image: url("../img/road.jpg");
	background-repeat: no-repeat;
	background-position: centre bottom;
	background-size: 100% auto;
	color: darkblue;
    text-align:center;
	width:100%;
	display:block;
	margin:auto;
}


body.component {
	background-image: url("../img/component.png");
	color: darkblue;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    text-align:center;
	width:100%;
	display:block;
	margin:auto;
}

body.calculator {
    text-align:center;
	width:100%;
	display:block;
	margin:auto;
	background-color: lightgrey;
}

hardware {
	background-image: url("../img/streetoflight.jpg");
	color: lightblue;
	background-repeat: no-repeat	
}


h1 {
  size: 20px;
}

p {
	size: 10px;
}

footer {
	font-style: italic;
	text-align:bottom;
}

.radio-label {
    float: left;
    margin-right: 3%;
}
.radio-input {
    float: left;
}
fieldset {
    text-align: center;
}

.formlayout {
    display: inline-block;
    margin: auto;
    border: 1px solid black;
    padding: 50px;
}
.compbutton {
	margin: 20px;
}